<!DOCTYPE html>
<html>
<head>
	<title>Train Reports</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">

	<script src="/static/scripts/jquery-3.3.1.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Train Reports</h1><hr/>
	HOME Page
	<a href="#">Show Reports</a>
	<div class="container-fluid">
		<h2>Trains Report List</h2><hr/>
		<div class="container">
			<select class="form-control">
				<option></option>
			</select><br/>
		</div>
		<h1> FLIGHTS RESULT </h1>
		{% if q != null %}
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr class="bg-primary">
						<th>Flight Number</th>
						<th>From</th>
						<th>To</th>
						<th>Departure time</th>
						<th>Economy</th>
						<th>Business</th>
					</tr>
					{% for a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13 in q %}
						<a href="/ticket/">
						<tr>
							<td>{{a5}}</td>
							<td>{{a7}}</td>
							<td>{{a10}}</td>
							<td>{{a9}}</td>
							<td>{{a3}}</td>
							<td>{{a4}}</td>
						</tr></a>
					{% endfor %}
				</table>
			</div>
		{% else %}
			<div>SomeThing WentWrong..!</div>
		{% endif %}

		<h1> TRAINS RESULT </h1>
		{% if t != null %}
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr class="bg-primary">
						<th>Train Number</th>
						<th>Train Name</th>
						<th>Source station Name</th>
						<th>Destination name</th>
						<th>Day</th>
						<th>Arrival time</th>
						<th>Departure time</th>
						<th>SL</th>
						<th>1A</th>
						<th>2A</th>
						<th>3A</th>
					</tr>
					{% for a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15,a16 in t %}
						<a href="/ticket/">
						<tr>
							<td>{{a16}}</td>
							<td>{{a14}}</td>
							<td>{{a13}}</td>
							<td>{{a8}}</td>
							<td>{{a6}}</td>
							<td>{{a5}}</td>
							<td>{{a15}}</td>
							<td>{{a11}}</td>
							<td>{{a2}}</td>
							<td>{{a3}}</td>
							<td>{{a4}}</td>
						</tr></a>
					{% endfor %}
				</table>
			</div>
		{% else %}
			<div>SomeThing WentWrong..!</div>
		{% endif %}
	</div>

	<div>
		<form action="#" method="POST" >
			{% csrf_token %}
			<input type="text" name='trainName'/>
			<input type="text" name='trainNumber'/>
			<input type="submit" value="GetDetails"/>
		</form>
	</div>
</body>
</html>