<!DOCTYPE html>
<html>
<head>
	<title>Your Ticket</title>
	<style type="text/css">
		.main{
			border: 2px solid black;
			width: 500px;
			height: 500px;
			margin: 100px 490px;
		}
		.upper{
			margin: 20px;
		}
		#qr{
			float: right;
			padding-bottom: 5px;
		}
		h3{
			padding-left: 35px;	
		}
		#d{
			margin-left: 130px;
		}

	</style>
</head>
<body>
	<div class="main">
		<div class="upper">
			<h3><ul>MULTIMODEL TRANIST COORIDOR</ul></h3>
			<img src="qrcode.png" style="width: 70px; height: 70px; " id="qr" >
			<label id="usi">User Id:</label><br>
			<label id="usn">Username:</label><br>
			<label id="s">Source:</label>
			<label id="d">Destination:</label>
		</div>
		<hr>
		<div class="lower">
			
		</div>	
	</div>
</body>
</html>